.tutor-info {
	color: #001529;
	font-size: 25px;
	padding-bottom: 30px;
}

.button-container {
	display: flex;
	justify-content: center;
}

.button-submit {
	border: 1px solid #ccc;
	text-align: center;
	cursor: pointer;
	font-size: 1.5em;
}
